* {
    outline: none;
}
a {
    color: rgb(0, 0, 255);
    text-decoration: none;
}
#when a:hover {
    text-decoration: underline;
}
#frm, #spin {
    outline: none;
    margin: auto;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    font-size: 20px;
    padding: 5px;
    z-index: 100;
}
#prop {
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
#prop:hover {
    text-decoration: underline;
}

#frm {
    text-align: center;
    margin: auto;
}

#title {
    width: 50vw;
    border: 1px solid black;
    height: 4vh;
    font-size: 2.5vh;
}

.global-flash-success {
    color: green;
}

.global-flash-failure {
    color: red;
}

.innerContent {
    margin: auto;
    width: 60%;
    border: 1px solid black;
}

#tle {
    font-size: 15.5px;
    padding-right: 15px;    
}

#contn {
    margin: auto;
    text-align: center;
}

#one {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    float: left;
    margin-left: 10vw;
}

#two {
    text-align: center;
    float: right;
    font-family: 'Josefin Sans', sans-serif;
    margin-right: 15vw;
}

#nav {
    padding-top: 15px;
}

#reddit {
    border-bottom: none;
    font-family: Verdana, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: firebrick;
    font-size: 0.7em;
    text-decoration: none;
}

#when {
    font-size: 11px;
    font-family: Menlo, 'Bitstream Vera Sans Mono', 'Lucida Console', monospace;
}

#reddit:hover {
    text-decoration: underline;
}

#tle:hover {
    color: orange;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    #prop {
        display: none;
    }
    #one, #two {
        margin: 0;
        text-align: left;
        float: none;
    }
    #tle {
        font-size:1.9vh;
    }
}
